<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>

     
    <!-- Footer -->
    <section id="footer2">
        <div class="container">
            <div class="row text-center text-xs-center text-sm-left text-md-left">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h4>Quick links</h4>
                    <ul class="list-unstyled quick-links">
                        <li><a href=""><i class="fa fa-angle-double-right"></i>Home</a></li>
                        <li><a href=""><i class="fa fa-angle-double-right"></i>About</a></li>
                        <li><a href=""><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                        <li><a href=""><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                        <li><a href=""><i class="fa fa-angle-double-right"></i>Videos</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h4>Quick links</h4>
                    <ul class="list-unstyled quick-links">
                        <li><a href=""><i class="fa fa-angle-double-right"></i>Publish job</a></li>
                        <li><a href=""><i class="fa fa-angle-double-right"></i>Contact us</a></li>
                        <li><a href=""><i class="fa fa-angle-double-right"></i>Jobs list</a></li>
                        <li><a href=""><i class="fa fa-angle-double-right"></i>Pro tips</a></li>
                        <li><a href=""><i class="fa fa-angle-double-right"></i>Articles</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h4>Quick links</h4>
                    <ul class="list-unstyled quick-links">
                        <li><a href=""><i class="fa fa-angle-double-right"></i>Maps</a></li>
                        <li><a href=""><i class="fa fa-angle-double-right"></i>Profile</a></li>
                        <li><a href=""><i class="fa fa-angle-double-right"></i>Settings</a></li>
                        <li><a href=""><i class="fa fa-angle-double-right"></i>Send CV</a></li>
                        <li><a href=""><i class="fa fa-angle-double-right"></i>Twitter page</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                    <ul class="list-unstyled list-inline social text-center">
                        <li class="list-inline-item"><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href=""><i class="fa fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href=""><i class="fa fa-google-plus"></i></a></li>
                        <li class="list-inline-item"><a href="" target="_blank"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>
                <hr>
            </div>
        </div>
    </section>
    <!-- ./Footer -->

</body>
</html>
