@{
    ViewData["Title"] = "Main features";
    Layout = LayoutDecision.LocateLayout(User);
}

<h1>Videos</h1>

<video width="400" height="400" controls>
    <source src="~/video/video.mp4" type="video/mp4">
    Your browser does not support this video.
</video>

<p id="video">Play video to see the main features</p>

