@model JobApp.Models.Seeker

@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout_seekers";
}

<h1>Edit</h1>

<h4>Seeker</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CVObj" class="control-label"></label>
                <div class="custom-file">
                    <label class="custom-file-label" for="inputGroupFile01">Upload New</label>
                    <input onchange="fileUploaded()" asp-for="CVObj" type="file" class="custom-file-input" id="inputGroupFile01">
                </div>
                <span asp-validation-for="CVObj" class="text-danger"></span>
                @if (Model.CV != null)
                {
                    <br /> <br />
                    <a>@Html.ActionLink("Download " + Model.CVFileName, "DownloadCV", new { id = Model.ID })</a>
                    <br /> <br />
                }
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNum" class="control-label"></label>
                <input asp-for="PhoneNum" class="form-control" />
                <span asp-validation-for="PhoneNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script type="text/javascript">
    function fileUploaded()
    {
        var inputFiles = document.getElementById("inputGroupFile01").files;
        if (inputFiles.length > 0)
        {
            // TODO: add CV link
            alert(inputFiles[0].name);
        }
    }
</script>