@model JobApp.Models.Seeker

@{
    ViewData["Title"] = "Index";
    int newJobNumber = (int)ViewData["New Jobs"];
    var date = DateTime.Now.ToString("dd/MM/yyyy");
    Layout = LayoutDecision.LocateLayout(User);
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="dailySalesChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            Jobs Seeker Applied CV:
                            @if (Model.SeekerJobs != null)
                            {
                                @Html.Raw(Model.SeekerJobs.Count())
                            }
                        </h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated to @date
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <div class="ct-chart" id="websiteViewsChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">New Jobs Seeker did not see yet: @Html.Raw(newJobNumber)
                        </h4>
                        <a href="jobs/lookingforjobs" class="card-category">Click here to see the new jobs</a>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated to @date
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-danger">
                        <div class="ct-chart" id="completedTasksChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Average Salary According to Seeker Skills</h4>
                        <p class="card-category">This information took from glassdoor api</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated at @date
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
