@model JobApp.Models.Seeker

@{
    ViewData["Title"] = "Index";
    int newJobNumber = (int)ViewData["New Jobs"];
    Layout = "_Layout_seekers";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="dailySalesChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            Jobs Seeker Applied CV:
                            @if (Model.SeekerJobs != null)
                            {
                                @Html.Raw(Model.SeekerJobs.Count())
                            }
                        </h4>
                       
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated 4 minutes ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <div class="ct-chart" id="websiteViewsChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">New Jobs Seeker did not see yet:
                        @if (newJobNumber != null)
                        {
                            @Html.Raw(newJobNumber)
                        }
                        </h4>
                        <a href="jobs/lookingforjobs" class="card-category">Click here to see the new jobs</a>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated at 19/10/2020
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-danger">
                        <div class="ct-chart" id="completedTasksChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Average Salary According to Seeker Skills</h4>
                        <p class="card-category">This information took from glassdoor api</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated at 19/10/2020
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
