@{
    ViewData["Title"] = "Index";
    Layout = LayoutDecision.LocateLayout(User);
}

<style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    /* Optional: Makes the sample page fill the window. */
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>

<div id="map"></div>

<script src="~/js/core/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMnkR_IpENkGrRXP5PxVOEDDjgjSXqpfU&callback=initMap"
        defer></script>
<script>let map;

    function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: 31.766, lng: 35.222 },
            zoom: 8,
        })

        $.get("/jobs/MyPublishedJobs", function (data) {
            data.forEach(job => setMarkers(job))
        });
    }

 

    function setMarkers(job) {

        new google.maps.Marker({
            position: { lat: job.lat, lng: job.lon },
            map,
            title: "Hello World!",
        });
    }</script>