
/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

section {
    padding: 60px 0;
}

    section .section-title {
        text-align: center;
        color: #007b5e;
        margin-bottom: 50px;
        text-transform: uppercase;
    }

#footer2 {
    background: #9c27b0 !important;
    overflow: hidden !important;
}

    #footer h5 {
        padding-left: 10px;
        border-left: 3px solid #eeeeee;
        padding-bottom: 6px;
        margin-bottom: 20px;
        color: #ffffff;
    }

    #footer2 a {
        color: #ffffff;
        text-decoration: none !important;
        background-color: transparent;
        -webkit-text-decoration-skip: objects;
    }

    #footer2 ul.social li {
        padding: 3px 0;
    }

        #footer2 ul.social li a i {
            margin-right: 5px;
            font-size: 25px;
            -webkit-transition: .5s all ease;
            -moz-transition: .5s all ease;
            transition: .5s all ease;
        }

        #footer2 ul.social li:hover a i {
            font-size: 30px;
            margin-top: -10px;
        }

        #footer2 ul.social li a,
        #footer2 ul.quick-links li a {
            color: #ffffff;
        }

            #footer2 ul.social li a:hover {
                color: #eeeeee;
            }

    #footer2 ul.quick-links li {
        padding: 3px 0;
        -webkit-transition: .5s all ease;
        -moz-transition: .5s all ease;
        transition: .5s all ease;
    }

        #footer2 ul.quick-links li:hover {
            padding: 3px 0;
            margin-left: 5px;
            font-weight: 700;
        }

        #footer2 ul.quick-links li a i {
            margin-right: 5px;
        }

        #footer2 ul.quick-links li:hover a i {
            font-weight: 700;
        }

@media (max-width:767px) {
    #footer2 h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}

.list-unstyled quick-links{
    text-align:center;
        margin:0;
}

.col-xs-12 col-sm-4 col-md-4{
    margin:0;
}

.control-label {
    position: absolute;
    display: contents;
}

.logo {
    text-align: center;
    font-weight: bold;
    font-size:20px;
}

#map {
    z-index: 2;
    height: calc(100vh - 70px);
    margin-top: 70px;
}

h1 {
    text-shadow: 0 0 3px #007bff, 0 0 5px #deb5b5
}

div.card-icon {
    width: 80px;
    height: 100px;
    transition: width 1s;
}
    div.card-icon:hover {
        width: 100px;
    }

div h4 {
   text-shadow: 0 0 3px #618ab3, 0 0 5px #d9e2ea;
}

h3 {
    color: red;
    font-weight: bold;
    text-decoration: underline;
    font-size: 23px;
    padding-top: 10px;
}

aside#a1 {
    color: darkblue;
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: #e1e4fd;
    font-weight: bold;
}

p#p1 {
   text-shadow: 0 0 3px #618ab3, 0 0 5px #3f4a54;
   font-size:x-large;
}

.cardStyle {
    font-size: 20px;
    font-style: italic;
    font-family: serif;
    
}
.card.text-white.bg-dark.mb-3 {
    max-width: 25rem;
}

