@{
    ViewData["Title"] = "Articles";
    Layout = LayoutDecision.LocateLayout(User);
}

<h1>Articles</h1>

<img id="pic1" src="~/images/pic_1.jpg" alt="picture" width="270" height="200">
<a id="apic" href="https://www.gotfriends.co.il/%D7%91%D7%9C%D7%95%D7%92%D7%99%D7%9D/%D7%A7%D7%95%D7%A8%D7%95%D7%AA-%D7%94%D7%97%D7%99%D7%99%D7%9D-%D7%94%D7%90%D7%95%D7%9C%D7%98%D7%99%D7%9E%D7%98%D7%99%D7%91%D7%99%D7%99%D7%9D/">קורות החיים האולטימטיביים (או: איך לא לכתוב קורות חיים)</a>
<p id="ppic">...אחד הדברים החשובים ביותר בתהליך חיפוש עבודה הוא שלב כתיבת קורות החיים. לכאורה, שלב פשוט וקליל ובפועל – כאב ראש רציני</p>

<img id="pic2" src="~/images/pic_2.jpg" alt="picture" width="270" height="200">
<a id="apic" href="https://www.gotfriends.co.il/%D7%91%D7%9C%D7%95%D7%92%D7%99%D7%9D/%D7%90%D7%99%D7%9A-%D7%A2%D7%95%D7%96%D7%91%D7%99%D7%9D-%D7%9E%D7%A7%D7%95%D7%9D-%D7%A2%D7%91%D7%95%D7%93%D7%94/">איך עוזבים מקום עבודה</a>
<p id="ppic">...חלק לא קטן מהאנשים לא אוהבים את העבודה שלהם ואינם מרוצים ממקום העבודה</p>

<img id="pic3" src="~/images/pic_3.jpg" alt="picture" width="270" height="200">
<a id="apic" href="https://www.gotfriends.co.il/%D7%91%D7%9C%D7%95%D7%92%D7%99%D7%9D/%D7%97%D7%95%D7%A7%D7%99-%D7%9E%D7%A8%D7%A4%D7%99-%D7%91%D7%A2%D7%91%D7%95%D7%93%D7%94/">חוקי מרפי בעבודה</a>
<p id="ppic">.חוקי מרפי פועלים ביקום שלנו על על תחום אפשרי, והוא לא פסח על מקום העבודה. שרונה ברק על חוקי המרפי במשרד</p>

<img id="pic4" src="~/images/pic_4.jpg" alt="picture" width="270" height="200">
<a id="apic" href="https://www.gotfriends.co.il/%D7%91%D7%9C%D7%95%D7%92%D7%99%D7%9D/%D7%90%D7%99%D7%9A-%D7%9C%D7%90-%D7%9C%D7%A2%D7%91%D7%95%D7%A8-%D7%A8%D7%90%D7%99%D7%95%D7%9F-%D7%A2%D7%91%D7%95%D7%93%D7%94/">איך לא לעבור ראיון עבודה</a>
<p id="ppic">?ייתכן ושמעתם סיפורי זוועה על מרואיינים שעונים לטלפון במהלך ראיון, אוכלים סנדביץ מול המראיין או מעבירים ביקורת על החברה שבה הם מתראיינים, אבל אתם לא עושים את הטעויות האלו, נכון</p>

<img id="pic5" src="~/images/pic_5.jpg" alt="picture" width="270" height="200">
<a id="apic" href="https://www.gotfriends.co.il/%D7%91%D7%9C%D7%95%D7%92%D7%99%D7%9D/%D7%94%D7%A9%D7%90%D7%9C%D7%95%D7%AA-%D7%94%D7%9B%D7%99-%D7%9E%D7%95%D7%96%D7%A8%D7%95%D7%AA/">השאלות הכי מוזרות שיכולים לשאול אתכם בראיון עבודה</a>
<p id="ppic">לפעמים נדמה ששום דבר שמופיע במודעה בלוח דרושים הייטק לא יכין אתכם לשאלות שתשאלו בראיון העבודה, אל תתייאשו ואל תבהלו</p>



